* {
    margin: 0;
    padding: 0;
}


body{
    font-family: "Montserrat", sans-serif;
    background-color: #6b4229;
    margin: 5px;
    >div{
        background-color: antiquewhite; 
        border-radius: 20px;
    }
}

img {
    display: flex;
    border-radius: 16px;
    width: 80%;
    align-items: center;
    border: 1px solid #6b4229;
    display: block;
    margin: 5px auto;
    max-width: 1300px;
    margin-top: 10px;
}

.divider {
  width: 95%;
  height: 1px;
  margin: 15px auto;
  background-color: #6b422932;
}

header{
  padding: 20px;
  text-align: center;
}

.viagem {
  color: #6b4229;
  text-decoration-line: underline;
  padding: 0;
}

h1 {
  color: #9a1e1e;
  font-size: 45px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h2 {
  color: #a33030;
  font-size: 40px;
  margin: 10px;
}

h3 {
  color: #a33030;
  font-size: 35px;
  margin: 10px;
  text-decoration-line: underline;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

p {
  color: #4c1f03;
  padding: 10px;
  font-size: 22px;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

section{
  margin-bottom: 50px;
}

main{
  padding: 20px;
  text-align: center;
}

footer {
    padding: 8px;
    text-align: center;
}